/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*****************************/
/*      GENERAL STYLES       */
/*****************************/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700');
/* text + defaults */
body, td, input, textarea, select, option{
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  color: #545454;
  font-size: 12px;
}


tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFFFFF;
}

body {
        background: #E9E6D5;
    }

p{
   margin: 0 0 1em;
   line-height: 22px;
   font-size: 14px;
}
    
    
div#zone-user,
div#zone-branding,
div#zone-menu ,
div#zone-header,
div#zone-preface ,
div#zone-content ,
div#zone-postscript,
div#zone-footer{
    background: #FFF;
}    

div#zone-user {
    height: 20px;
}
div#zone-branding {
    min-height: 100px;
}

div#region-menu{
    margin: 0;
    border-top: 2px solid #E9E6D5;
    width: 100%;
}

div#region-header-first
{
    margin: 0;
    border-bottom: 2px solid #E9E6D5;
    width: 100%;
    height: 290px;
}

div#zone-footer
{

    border-top: 2px solid #E9E6D5;
}

div#region-footer-fourth
{
    
    margin: 0;
    border-top: 2px solid #E9E6D5;
    width: 100%;
   /* padding: 15px 25px; */

}

a:link   
{   
 text-decoration:none;   
}  
/*********************************/
/*      FRONT STYLES       */
/*********************************/
body.front .title{display: none;}

body.front .tabs{display: none;}



/***************************/
    /*    BANNER MAIN  */
.custom_info_banner{
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}
.logo-img{
  width: 100%;
  text-align: center;
}
    /*    BANNER MAIN  */
/***************************/
    



/***************************/
/*********************************/
/*      MAIN SLIDER STYLES       */
/*********************************/
.region-header-first .view-slider .flexslider{
    border: 0px solid #000;
}

.region-header-first .view-slider .flex-control-nav{
    display: none;
}

.region-header-first .view-slider .flexslider .slides img{
     height: 269px;
}

.region-header-first .view-slider .flex-direction-nav a:before{
    content: "" !important;
}

.region-header-first .view-slider .flex-direction-nav a.flex-next:before{
    content: "-" !important;
}
.region-header-first .view-slider .flex-direction-nav a{
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
}
.region-header-first .view-slider .flex-direction-nav a.flex-next{
    background: url(../images/bg_direction_nav.png) no-repeat -30px;
}

/**********************************/
/*      MENU STYLES               */
/**********************************/

#zone-menu .block-superfish { color:#335387;}

#zone-menu .block-superfish a:link, 
#zone-menu .block-superfish a:visited {
  color: #335387;
}

#zone-menu .block-superfish a:hover,
#zone-menu .block-superfish a:active {
  color: #AA8C70;
  text-decoration: none;
}

#zone-menu .block-superfish span:hover,
#zone-menu .block-superfish span:active {
  color: #AA8C70;
  cursor: pointer;
}

#zone-menu .block-superfish{
    background:#FFF;
    width:100%;
    display:table;
    margin:0 auto;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal{
    width:100%;
    margin:0 auto;
    text-align:center;
 
    font-family:'Source Sans Pro';
    font-size:16px;
    font-weight:400;
    
    text-transform:uppercase;    
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal a,
#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal span.nolink {
  display: block;
  padding: .8em 1.2em .7em;
  position: relative;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal .sf-sub-indicator:after{
   content: "";
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal li ul{
    
    background-image:none;
    background:none;
    text-align:left;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    text-transform:uppercase;
    border-style:solid;
    border-color:#7d8e77;
    border-width:0 0 1px;
    background:#d3d9d0;
    background:-moz-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#d3d9d0));
    background:-webkit-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-o-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-ms-linear-gradient(top,white 0,#d3d9d0 100%);
    background:linear-gradient(to bottom,#fff 0,#d3d9d0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d9d0',GradientType=0);
        opacity:.9;
        zoom:1;
        filter:alpha(opacity=90);
        -ms-filter:"alpha(opacity=90)";
        
}

/**********************************/
/*      RESPONSIVE MENU STYLES               */
/**********************************/

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion{
    width:100%;
    margin:0 auto;
    text-align:center;
 
    font-family:'Source Sans Pro';
    font-size:16px;
    font-weight:400;
    
    text-transform:uppercase;    
}
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion a,
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion span.nolink {
  display: block;
  padding: .8em 1.2em .7em;
  position: relative;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li.sf-expanded span{
background-color: #335387;
color: #fff;
}
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li.sf-expanded{
border-bottom: 1px solid #335387;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li ul{
    
    font-style: italic;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion  .sf-clone-parent{
    display: none;
}



/*************************/
/* BOX SEARCH */
.custom_box_search
{
  background-color: #E9E6D5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px;
  margin-right: 50px;
} 
select{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  color:#888;
  border:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  width: 215px;
}

.custom_box_search .form-type-textfield input
{
  width: 215px;
  border-radius:4px;
  margin-top: 5px;
}

.custom_box_search .views-widget-per-page
{
  
  text-align: center;
} 
.custom_box_search .views-exposed-form .views-exposed-widget
{
  float: none;
}

.custom_box_search .views-submit-button
{
  text-align: center;

}


.custom_box_search .views-submit-button input
{

  
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  border-radius:0px;
  background-color:#637aad;
  border:1px solid #314179;
  display:inline-block;
  color:#ffffff;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  padding:10px 12px;
  text-decoration:none;
  text-shadow: none;
  font-size: 16px;
  margin-top: 0.6em !important;
  width: 215px;

}
/* BOX SEARCH*/
/*************************/

/***************************/
/* LIST VIEW PROPERTIES*/
table
{
  border: none;
}
.custom_list_properties{
  text-align: center;
}


.view-real-estate-property-list .views-field.views-field-title
{
    height: 50px;
    border-bottom: 1px solid #C1C1C1;
    word-wrap: break-word;
    font-size: 14px;
    margin: 10px 0;
  
}
.view-real-estate-property-list .view-content .views-field.views-field-property-photo
{
  text-align: center;
}
.view-real-estate-property-list .view-content .views-field.views-field-property-photo img
{
  max-width: 220px;
  max-height: 146px;
  width: 220px;
  height: 146px;
  
}



.view-real-estate-property-list .grid-9
{
  text-align: center;
}

.container-12 .grid-3
{
 margin-left: 10px;
 margin-right: 10px;
 position: relative;

}

.view-real-estate-property-list .views-field
{
  word-wrap: break-word;
  font-size: 12px;
  margin: 5px 0;
  
}
.view-real-estate-property-list .views-field.views-field-body
{
  height: 45px;
  font-size: 13px;
  color: #3D3D3D;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 600;
}
.view-real-estate-property-list .views-field.views-field-view-node
{
  background-image: url(../images/toolbar_find.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.view-real-estate-property-list .views-field.views-field-view-node span a
{
  margin-left: 20px;
}

.view-real-estate-property-list .views-field.views-field-title span a
{
   color: #E57B42;
   font-size: 14px;
}

.view-real-estate-property-list .view-content table
{
  border-spacing: 10px;
  border-collapse: separate;
    margin-left:auto; 
    margin-right:auto;
}
.view-real-estate-property-list .view-content table tbody tr td
{
  vertical-align: top;
  border: 1px solid grey;
  width: 220px;
 padding: 0px;
  display: block;
  text-align: left;
  margin: auto;
   margin-top: 20px;
}
.view-real-estate-property-list .view-content table tbody tr td div
{
  width: 220px;
  
}

.custom-td-property .views-field-property-bedrooms
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-property-bedrooms div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-bath-total
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-bath-total div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-location
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-location div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-type-property
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-type-property div
{
 margin-left: 5px; 
}

.custom-td-property .views-field.views-field-property-price
{
 display: inline-flex;
 margin-top: 5px; 
}
.custom-td-property .views-field.views-field-property-price div
{
 margin-left: 5px; 
}

/* LIST VIEW PROPERTIES*/
/****************************/


/****************************/
/* grid home css information */
/****************************/


.custom-grid-information:hover
{
  background-color: white;
}
.custom-grid-information .view-display-id-block .views-view-grid
{
  display: block;
  border: none;  
}

.custom-grid-information .view-display-id-block .views-view-grid td
{
    width:100%;
    display:block;
}

.custom-grid-information .view-display-id-block .views-view-grid .views-field-title span
{
  font-size: 22px;
  color: #336CB8;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/
/*** CSS BLOG ***/

.custom_list_properties h1
{
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

.view-blogs.view-id-blogs .views-row
{

  border-bottom: 1px solid #c1c1c1;
  margin-top: 20px;
} 

.view-blogs.view-id-blogs .views-row .views-field-field-image
{
  text-align: center;
  vertical-align: top;
} 

.view-blogs.view-id-blogs .views-row .views-field-title
{
  text-align: left;
  padding-left: 5%;
  font-size: 23px;
} 
.view-blogs.view-id-blogs .views-row .views-field-title a:hover
{
 color: #AA8C70;
}
.view-blogs.view-id-blogs .views-row .views-field-body
{
  text-align: left;
  padding-left: 5%;
  color: grey;
} 
.view-blogs.view-id-blogs .views-row .views-field-body a:hover
{
  color: #AA8C70;
} 
.view-blogs.view-id-blogs .views-row .views-field-body img
{
  display: none;
} 

/*** CSS BLOG ***/
/**************************/

/**************************/
/*START custom css footer*/
/**************************/
.custom_footer_block h2.block-title{
  font-weight:normal;
 
  font-size: 17px;
  color: '#1111';
}

.custom_footer_block{
  margin-top: 20px;
}

.custom_footer_block p{
  color: grey;

}

.custom_footer_social_row ul li{
  list-style-type: none;
  float: left;
  margin: 2px;
}

/**************************/
/* END custom css footer */
/************************/

/*
.page-node .region-content-inner ol,
.page-node .region-content-inner td,
.page-node .region-content-inner .block,
.page-education .field-content
{
  line-height: 22px;
  font-size: 14px;
}

ul, ol, dl{margin: 0 0 1em;}
a{color:#0b3d75; text-decoration:none; font-weight:bold;}
a:hover, th a, th.views-field{color:#bd1e25;}
input, textarea{outline:none;}
h1, h2, h3, h4, .calendar-calendar div.date-nav h3{line-height: 1em; color:#0f3962; font-family:helvetica, arial, sans-serif !important;}
h1.block-title{font-size:18px;margin-bottom:15px; font-family:helvetica, arial, sans-serif !important;}
a:link, a:visited {
    color: #0B3D75;
    text-decoration: none;
}
table {
  border: 0px;
  width: 100%;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background: #FFF;
}
*/
