/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*****************************/
/*      GENERAL STYLES       */
/*****************************/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700');
/* text + defaults */
body, td, input, textarea, select, option{
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  color: #545454;
  font-size: 12px;
}


tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
}

body {
        background: #E9E6D5;
    }

p{
   margin: 0 0 1em;
   line-height: 22px;
   font-size: 14px;
}
    
    
div#zone-user,
div#zone-branding,
div#zone-menu ,
div#zone-header,
div#zone-preface ,
div#zone-content ,
div#zone-postscript,
div#zone-footer{
    background: #FFF;
}    

div#zone-user {
    height: 20px;
}
div#zone-branding {
    min-height: 100px;
}

div#region-menu{
    margin: 0;
    border-top: 2px solid #E9E6D5;
    width: 100%;
}

div#region-header-first
{
    margin: 0;
    border-bottom: 2px solid #E9E6D5;
    width: 100%;
    height: 290px;
}

body.not-front div#region-header-first
{
    border-bottom: none;
}


div#zone-footer
{

    border-top: 2px solid #E9E6D5;
}

div#region-footer-fourth
{
    
    margin: 0;
    border-top: 2px solid #E9E6D5;
    width: 100%;
   /* padding: 15px 25px; */

}

a:link   
{   
 text-decoration:none;   
}  
/*********************************/
/*      FRONT STYLES       */
/*********************************/
body.front .title{display: none;}

body.front .tabs{display: none;}



/***************************/
/*    BANNER MAIN  */
.custom_info_banner{
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}
.logo-img{
  width: 100%;
  text-align: center;
}
/*    BANNER MAIN  */
/***************************/
    
/************************************/
/******DETAIL PROPERTY CSS**********/
.custom_list_properties .title{
  font-weight: normal;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

body.context-property .block-system-main #real-estate-media{
float: none;
width: 80%;
}


body.context-property .block-system-main #real-estate-description h3{
  font-weight: normal;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;

}

body.context-property .block-system-main .real-estate-description-b p{
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
}

.custom_similar_properties .views-field-property-photo img{
  width: 140px;
  height: 130px;
}

.custom_info_properties
{
  background-color: #FFFFFF;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 6px;
  border: 1px solid #CBCAC7;
}
/******DETAIL PROPERTY CSS**********/
/************************************/


/***************************/
/*********************************/
/*      MAIN SLIDER STYLES       */
/*********************************/
.region-header-first .view-slider .flexslider{
    border: 0px solid #000;
}

.region-header-first .view-slider .flex-control-nav{
    display: none;
}

.region-header-first .view-slider .flexslider .slides img{
     height: 269px;
}

.region-header-first .view-slider .flex-direction-nav a:before{
    content: "" !important;
}

.region-header-first .view-slider .flex-direction-nav a.flex-next:before{
    content: "-" !important;
}
.region-header-first .view-slider .flex-direction-nav a{
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
}
.region-header-first .view-slider .flex-direction-nav a.flex-next{
    background: url(../images/bg_direction_nav.png) no-repeat -30px;
}

/**********************************/
/*      MENU STYLES               */
/**********************************/

.sf-accordion-toggle.sf-style-none{
  text-align: center;
  font-size:15px;
  text-transform:uppercase;
  color: #335387;
  margin-top: 10px;
  margin-bottom: 10px;
}

#superfish-1-toggle
{
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
   display:block;
}


#zone-menu .block-superfish { color:#335387;}

#zone-menu .block-superfish a:link, 
#zone-menu .block-superfish a:visited {
  color: #335387;
}

#zone-menu .block-superfish a:hover,
#zone-menu .block-superfish a:active {
  color: #AA8C70;
  text-decoration: none;
}

#zone-menu .block-superfish span:hover,
#zone-menu .block-superfish span:active {
  color: #AA8C70;
  cursor: pointer;
}

#zone-menu .block-superfish{
    background:#FFF;
    width:100%;
    display:table;
    margin:0 auto;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal{
    width:100%;
    margin:0 auto;
    text-align:center;
 
    font-family:'Source Sans Pro';
    font-size:16px;
    font-weight:400;
    
    text-transform:uppercase;    
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal a,
#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal span.nolink {
  display: block;
  padding: .8em 1.2em .7em;
  position: relative;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal .sf-sub-indicator:after{
   content: "";
}

#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal li ul{
    
    background-image:none;
    background:none;
    text-align:left;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    text-transform:uppercase;
    border-style:solid;
    border-color:#7d8e77;
    border-width:0 0 1px;
    background:#d3d9d0;
    background:-moz-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#d3d9d0));
    background:-webkit-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-o-linear-gradient(top,white 0,#d3d9d0 100%);
    background:-ms-linear-gradient(top,white 0,#d3d9d0 100%);
    background:linear-gradient(to bottom,#fff 0,#d3d9d0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d9d0',GradientType=0);
        opacity:.9;
        zoom:1;
        filter:alpha(opacity=90);
        -ms-filter:"alpha(opacity=90)";
        
}

/**********************************/
/*      RESPONSIVE MENU STYLES               */
/**********************************/

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion{
    width:100%;
    margin:0 auto;
    text-align:center;
 
    font-family:'Source Sans Pro';
    font-size:16px;
    font-weight:400;
    
    text-transform:uppercase;    
}
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion a,
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion span.nolink {
  display: block;
  padding: .8em 1.2em .7em;
  position: relative;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li.sf-expanded span{
background-color: #335387;
color: #fff;
}
#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li.sf-expanded{
border-bottom: 1px solid #335387;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion li ul{
    
    font-style: italic;
}

#zone-menu .block-superfish ul.sf-main-menu.sf-accordion  .sf-clone-parent{
    display: none;
}



/*************************/
/* BOX SEARCH */

.custom_box_search
{
  background-color: #E9E6D5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 6px;
  border: 1px solid #CBCAC7;
}

.custom_box_search_responsive{
  margin-bottom: 15px;
}

.custom_box_search .views-exposed-form .views-exposed-widget {
    width: 100%;
}

.custom_box_search select,
.custom_box_search input
{
    color: #888888;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #CECDCB;
    border-radius: 0px;
    height: 34px;
    box-shadow: none;

}
.custom_box_search .form-item{
    margin: 5px 0;
}

.custom_box_search select{
    background: url(../images/select-box-arrow.gif) no-repeat right #FFF;
    -webkit-appearance: none;
    background-position-x: 98%;
}

.custom_box_search  input.form-autocomplete{
    background-image:none !important;
}

.custom_box_search .form-item-property-price-value-1-min,
.custom_box_search .form-item-property-price-value-1-max
{
    float: left;
    width: 50%;
}

.custom_box_search .ui-widget-header{
    background: none;
}
.custom_box_search .bef-slider.ui-slider-horizontal{
    margin: 6px 20px;
    clear: both
}

.custom_box_search label
{
    display:none;
}

.custom_box_search .views-widget-per-page
{
  text-align: center;
}

.custom_box_search .form-item-items-per-page label
{
    display:block;
    
    width: 120px;
    color: #c18229;
    font-size: 18px;

    text-transform: none;
    font-weight: 300;
    display: inline-block;
    
    background: #E9E6D5;
    
}


.custom-block-remax-logo img{
   width: 25%;
}

.custom_box_search .form-item-items-per-page select
{
    margin-top: 20px;
}


.custom_box_search .form-item-items-per-page
{
    background: url(../images/strike-through-gold.gif) 0 13px repeat-x;

}




.custom_box_search .views-submit-button
{
  text-align: center;

}


.custom_box_search input[type=submit] 
{

  background:linear-gradient(to bottom, #7292B8 0%, #476D9E 100%);
  border-radius:0px;
  background-color:#637aad;
  border:1px solid #496B9B;

  color:#ffffff;
  font-weight: normal;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;

  text-decoration:none;
  text-shadow: none;
  font-size: 95%;
  text-transform: uppercase;

  margin-top:5px;
}

.custom_box_search .views-reset-button input[type=submit] 
{

  background:linear-gradient(to bottom, #f62b2b 0%, #d20202 100%);
  border:1px solid #d20202;
  font-size: 95%;

}


/* BOX SEARCH*/
/*************************/

/***************************/
/* LIST VIEW PROPERTIES*/

body.page-properties #page-title
{
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

.view-real-estate-property-list .view-content .views-field.views-field-property-photo img
{
  max-width: 220px;
  max-height: 146px;
  width: 220px;
  height: 146px;

}

.view-real-estate-property-list .views-field.views-field-body
{
  height: 45px;
  color: #3D3D3D;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.view-real-estate-property-list .views-field.views-field-view-node
{
  background-image: url(../images/toolbar_find.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  margin:20px 10px;
  background-position: 3px 6px;
}
.view-real-estate-property-list .views-field.views-field-view-node span a
{
  margin-left: 20px;
}

.view-real-estate-property-list .views-field.views-field-title span a
{
   color: #E57B42;
   text-transform: uppercase;
}

.custom-column-property .views-field.views-field-title,
.custom-column-property .views-field.views-field-property-bedrooms,

.custom-column-property .views-field.views-field-field-bath-total,
.custom-column-property .views-field.views-field-field-total-baths,

.custom-column-property .views-field.views-field-field-location,
.custom-column-property .views-field.views-field-field-type-property,
.custom-column-property .views-field.views-field-property-price
{
 display: inline-flex;
 margin-top: 5px;
 width: 90%; 
}


.custom-column-property .views-field
{
    font-size: 14px;
    margin:0 10px;
}
.custom-column-property .views-field div.field-content
{
    margin-left:5px;
}

.view-real-estate-property-list .views-field.views-field-title
{
    height: 50px;
    border-bottom: 1px solid #C1C1C1;
    word-wrap: break-word;
    font-size: 14px;
    margin: 10px 10px;
  
}

.custom-column-property .views-field.views-field-property-photo,
.custom-column-property .views-field.views-field-property-photo div.field-content
{
    margin:0;
    text-align: center;
}


.custom-column-property.grid-3{
   
    margin: 0 35px 20px;
    border-bottom: 9px double #D7CAA7;
}



/* LIST VIEW PROPERTIES*/
/****************************/


/****************************/
/* grid home css information */
/****************************/


.custom-grid-information:hover
{
  background-color: white;
}
.custom-grid-information .view-display-id-block .views-view-grid
{
  display: block;
  border: none;
  margin-left: 2%;  
}

.custom-grid-information .view-display-id-block .views-view-grid td
{
    width:100%;
    display:block;
    padding: 1%;
}

.custom-grid-information .view-display-id-block .views-view-grid .views-field-title span
{
  font-size: 22px;
  color: #336CB8;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/
/*** CSS BLOG ***/



body.page-blogs #page-title
{
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

body.node-type-blog #page-title
{
  text-align: center;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: normal;
}



.view-blogs.view-id-blogs .views-row
{

  border-bottom: 1px solid #c1c1c1;
  margin-top: 20px;
} 

.view-blogs.view-id-blogs .views-row .views-field-field-image
{
  text-align: center;
  vertical-align: top;
} 

.view-blogs.view-id-blogs .views-row .views-field-title
{
  text-align: left;
  padding-left: 5%;
  font-size: 23px;
} 
.view-blogs.view-id-blogs .views-row .views-field-title a:hover
{
 color: #AA8C70;
}
.view-blogs.view-id-blogs .views-row .views-field-body
{
  text-align: left;
  padding-left: 5%;
  color: grey;
} 
.view-blogs.view-id-blogs .views-row .views-field-body a:hover
{
  color: #AA8C70;
} 
body.page-blogs .view-blogs.view-id-blogs .views-row .views-field-body img
{
  display: none;
} 

body.page-node.node-type-blog article{
 padding-left: 4%;
}

/*** CSS BLOG ***/
/**************************/

/**************************/
/*START custom css footer*/
/**************************/
.custom_footer_block h2.block-title{
  font-weight:normal;
 
  font-size: 16px;
  color: '#1111';
}

.custom_footer_block{
  margin-top: 20px;
}

.custom_footer_block.block-4{
  margin-left: 3%;
}
.custom_footer_block.block-3{
  margin-left: 3%;
}

.custom_footer_block.block-2{
  margin-left: 3%;
}

.region-footer-fourth .block-5.block-without-title{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 3%;
}

.custom_footer_block p{
  color: grey;
}

.custom_footer_social_row ul li{
  list-style-type: none;
  float: left;
  margin: 2px;
}

/**************************/
/* END custom css footer */
/************************/

/******************************/
/* START second sidebar css   */
/******************************/

.custom-block-remax-logo{
    border: 1px solid #CBCAC7;
    border-bottom: none;
    text-align: center;
    margin-top: 10px;
    background-color: #fff;
    z-index: 1000;
    padding: 40px 10px;
    font-size: 14px;
}
/******************************/
/* END second sidebar css   */
/******************************/

/******************************/
/* START pagination css   */
/******************************/

/* Pagers Positioning */
.item-list .pager {
  padding:0;
  margin: 0;
}

.item-list .pager li,
.item-list .pager ul li {
  margin: 0;
  padding: 0;
  float: left;
}

.item-list .pager {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: left;
  float: right;
  margin-right: 45px;
  
}

.pager li.pager-ellipsis{
    display: none;
}

.pager li a {
  display: inline-block;
}

.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a {
  padding:4px 8px;
  text-decoration: none;
}

.pager li.pager-current {
  padding:4px 8px;
  font-weight: bold;
}

.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
  width: 65px;
  text-align:center;
  padding: 4px 0;
}

.pager li.pager-next {
  position: relative;
  top: 0;
  right: 0;
}

.pager li.pager-last,
.pager li.pager-next.last {
  position: relative;
  top: 0;
  right: 0;
  border-right: 0;
}

/* Pagers color */
.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a {
  color:#8F8F8F;
}

.pager li {
  border-right: 0px solid;
  color: #8F8F8F;
  font-size: 16px;
  outline: 0;
}

.pager li.pager-current {
  background: none; 
  background-color:#526F9C !important;
  color: #FFF;
  outline: 0;
  font-size: 14px;
  font-weight: normal;
}

.pager li.pager-next {
  border-left: 0 solid;
  border-color: #ddd #bbb #999;
}

.pager li a {
  background-color: #FFF;;
  cursor: pointer;
  color: #8F8F8F;
  font-size: 14px;
}

.pager li a:hover {
  background:#526F9C;
  color:#FFF;
}

/* Add default border radius to list items & links */
.pager {
  background:#FFF;
  border:0px solid;
  border-color: #FFF;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
 
}


.pager li.first,
.pager li.first a,
.pager li.first a:hover {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.pager li.pager-last,
.pager li.pager-last a,
.pager li.pager-last a:hover {
   border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/*********************************************************/
/******SHOW PRINCIPAL SEARCH VIEW ALL PROPERTIES**********/
/*********************************************************/
.custom_box_search_responsive{
  display:block;
}
/*********************************************************/
/******SHOW PRINCIPAL SEARCH VIEW ALL PROPERTIES**********/
/*********************************************************/

/*
.page-node .region-content-inner ol,
.page-node .region-content-inner td,
.page-node .region-content-inner .block,
.page-education .field-content
{
  line-height: 22px;
  font-size: 14px;
}

ul, ol, dl{margin: 0 0 1em;}
a{color:#0b3d75; text-decoration:none; font-weight:bold;}
a:hover, th a, th.views-field{color:#bd1e25;}
input, textarea{outline:none;}
h1, h2, h3, h4, .calendar-calendar div.date-nav h3{line-height: 1em; color:#0f3962; font-family:helvetica, arial, sans-serif !important;}
h1.block-title{font-size:18px;margin-bottom:15px; font-family:helvetica, arial, sans-serif !important;}
a:link, a:visited {
    color: #0B3D75;
    text-decoration: none;
}
table {
  border: 0px;
  width: 100%;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background: #FFF;
}
*/
