/************************************/
/*    3rd FILE PRIORITY - NO USE    */
/************************************/


/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}

/****************************/
/* grid home css information */
/****************************/
.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/
/* LIST VIEW PROPERTIES*/



#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal a,
#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal span.nolink {
  display: block;
  padding: .8em 2.3em .7em;
  
  position: relative;
}




.custom-column-property.grid-3{
    
    width: 190px !important;
    margin: 0 20px 20px;
    border: 1px solid #D7CAA7;
}

.view-real-estate-property-list .view-content .views-field.views-field-property-photo img
{
  max-width: 190px;
  max-height: 116px;
  width: 190px;
  height: 116px;

}

.custom-column-property .views-field.views-field-field-location
{
 display: block;
}
.custom-column-property .views-field.views-field-field-location div.field-content
{
    margin-left:0px;
}
.view-real-estate-property-list .views-field.views-field-body
{
    height: 75px;
    font-size: 13px;
}
.view-real-estate-property-list .views-field.views-field-title
{
    height: 75px;
    font-size: 13px;
  
}




/* LIST VIEW PROPERTIES*/
/***************************/

/*************************/
/* BOX SEARCH */
.OLD_custom_box_search
{
  background-color: #E9E6D5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px;
  margin-right: 50px;
  width: 217px;
} 
select{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  color:#888;
  border:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  width: 215px;
}

.OLD_custom_box_search .form-type-textfield input
{
  width: 215px;
  border-radius:4px;
  margin-top: 5px;
}

.OLD_custom_box_search .views-widget-per-page
{
  
  text-align: center;
} 
.OLD_custom_box_search .views-exposed-form .views-exposed-widget
{
  float: none;
}

.OLD_custom_box_search .views-submit-button
{
  text-align: center;

}


.OLD_custom_box_search .views-submit-button input
{

  
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  border-radius:0px;
  background-color:#637aad;
  border:1px solid #314179;
  display:inline-block;
  color:#ffffff;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  padding:10px 12px;
  text-decoration:none;
  text-shadow: none;
  font-size: 16px;
  margin-top: 0.6em !important;
  width: 215px;

}
/* BOX SEARCH*/
/*************************/

/**************************/
/*** CSS BLOG ***/
.view-blogs.view-id-blogs .views-row
{
  display: table;
  border-bottom: 1px solid #c1c1c1;
  margin-top: 20px;
} 

.view-blogs.view-id-blogs .views-row .views-field-field-image
{
  text-align: left;
  display: table-cell;
  vertical-align: top;
} 

.view-blogs.view-id-blogs .views-row .views-field-title
{
  text-align: left;
  padding-left: 5%;
  font-size: 23px;
} 
.view-blogs.view-id-blogs .views-row .views-field-body
{
  padding-left: 5%;
  color: grey;
} 

/*** CSS BLOG ***/
/**************************/


/**************************/
/*START custom css footer*/
/**************************/
.custom_footer_block.block-4{
  margin-left: 2%;
}
.custom_footer_block.block-3{
  margin-left: 8%;
}

.custom_footer_block.block-2{
  margin-left: 6%;
}




/**************************/
/* END custom css footer */
/************************/
