/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}
.logo-img{
  width: 30%;
  text-align: center;
}


/* MENU */

.block-superfish ul.sf-main-menu{
  width:100%;
  margin:0 auto;
  text-align:center;
  color:'#305C8E';
}

/****************************/
/* grid home css information */
/****************************/
.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/* LIST VIEW PROPERTIES*/
.custom_list_properties{
  text-align: left;
}

.view-real-estate-property-list .view-content table tbody tr td
{
  vertical-align: top;
  /*border: 1px solid grey;*/
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  display:table-cell;
  border-color: -moz-linear-gradient(top, #555555, #111111);
}

.custom-td-property .views-field-property-bedrooms
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-property-bedrooms div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-bath-total
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-bath-total div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-location
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-location div
{
 margin-left: 5px; 
}

.custom-td-property .views-field-field-type-property
{
 display: inline-flex;
 margin-top: 3px;
}
.custom-td-property .views-field-field-type-property div
{
 margin-left: 5px; 
}


.custom-td-property .views-field.views-field-property-price
{
 display: inline-flex;
 margin-top: 3px; 
}
.custom-td-property .views-field.views-field-property-price div
{
 margin-left: 5px; 
}

/* LIST VIEW PROPERTIES*/
/***************************/

.view-real-estate-property-list .views-field.views-field-title span a
{
   color: red; 
}
