/***************************/
/*    2nd FILE PRIORITY    */
/***************************/


/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}

/****************************/
/* grid home css information */
/****************************/

.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/
/* LIST VIEW PROPERTIES*/


.custom-column-property.grid-3 {
    width: 150px !important;
    margin: 0 10px 20px;
    border: 1px solid #D7CAA7;
}

.view-real-estate-property-list .view-content .views-field.views-field-property-photo img
{
  max-width: 150px;
  max-height: 76px;
  width: 150px;
  height: 76px;
}


.custom-column-property .views-field.views-field-field-location
{
 display: block;
}
.custom-column-property .views-field.views-field-field-location div.field-content
{
    margin-left:0px;
}
.view-real-estate-property-list .views-field.views-field-body
{
    height: 75px;
    font-size: 13px;
}
.view-real-estate-property-list .views-field.views-field-title
{
    height: 75px;
    font-size: 13px;
}


/* LIST VIEW PROPERTIES*/
/***************************/


/******************************/
/* START second sidebar css   */
/******************************/

.custom-block-remax-logo{
    margin-top: -40px;
}

/******************************/
/* END second sidebar css   */
/******************************/


/*********************************************************/
/******HIDE PRINCIPAL SEARCH VIEW ALL PROPERTIES**********/
/*********************************************************/
.custom_box_search_responsive{
  display: none;
}
/*********************************************************/
/******HIDE PRINCIPAL SEARCH VIEW ALL PROPERTIES**********/
/*********************************************************/


/************************************/
/******DETAIL PROPERTY CSS**********/
.custom_similar_properties .block-title{
  color: red;
}
.custom_similar_properties .views-field-property-photo img{
  width: 240px;
  height: 180px;
}

.custom_similar_properties .view-similar-properties .views-column{
  width: 28%;
  margin-top:none;
  border-bottom:none;
  margin:none;
}

.custom_similar_properties .custom-column-property .views-field-title{
  height: 75px;
  border-bottom: 1px solid #c1c1c1;
}
/******DETAIL PROPERTY CSS**********/
/************************************/

/******************************/
/* START pagination css   */
/******************************/

.item-list .pager {
  margin-right: 15px;
}

.pager li.pager-ellipsis{
    display: block;
}

.custom-block-remax-logo img{
   width: 70%;
}
