/***************************/
/*    4th FILE PRIORITY    */
/***************************/

/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}
.logo-img{
  width: 30%;
  text-align: left;
}


/* MENU */

.block-superfish ul.sf-main-menu{
  width:100%;
  margin:0 auto;
  text-align:center;
  color:'#305C8E';
}

/****************************/
/* grid home css information */
/****************************/
.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/


/*********************/
/**BLOCK PROPERTIES**/
/*********************/
.custom_info_properties
{
  margin-top: 180px;
}
.custom_info_properties_map
{
  margin-top: 220px;
}
/*********************/
/**BLOCK PROPERTIES**/
/*********************/

/************************************/
/******DETAIL PROPERTY CSS**********/
.custom_similar_properties .block-title{
  /*color: pink;*/
}
.custom_similar_properties .views-field-property-photo img{
  width: 140px;
  height: 130px;
}
.custom_similar_properties .view-similar-properties .views-column{
  margin-top:none;
  border-bottom:none;
  margin:none;
}
.custom_similar_properties .custom-column-property .views-field-title{
  height: 75px;
}
/******DETAIL PROPERTY CSS**********/
/************************************/


/******************************/
/* START pagination css   */
/******************************/

.item-list .pager {
  margin-right: 25px;
}

