/***************************/
/*    5th FILE PRIORITY    */
/***************************/
/* This file will hold styles that are loaded using the same media query as the wide grid. */

/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}

/****************************/
/* grid home css information */
/****************************/
.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/* LIST VIEW PROPERTIES*/




.custom-column-property.grid-3{
    
    width: 250px !important;
    margin: 0 20px 20px;
    border: 1px solid #D7CAA7;
}

.view-real-estate-property-list .view-content .views-field.views-field-property-photo img
{
  max-width: 250px;
  max-height: 176px;
  width: 250px;
  height: 176px;

}

.custom-column-property .views-field.views-field-field-location
{
 display: inline-flex;
}
.custom-column-property .views-field.views-field-field-location div.field-content
{
    margin-left: 5px;
}





#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal a,
#zone-menu .block-superfish ul.sf-main-menu.sf-horizontal span.nolink {
  display: block;
  padding: .8em 3.4em .7em;
  
  position: relative;
}

/* LIST VIEW PROPERTIES*/
/***************************/

/*************************/
/* BOX SEARCH */
.OLD_custom_box_search
{
  background-color: #E9E6D5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px;
  margin-right: 50px;
  width: 217px;
} 
select{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  color:#888;
  border:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  width: 215px;
}

.OLD_custom_box_search .form-type-textfield input
{
  width: 215px;
  border-radius:4px;
  margin-top: 5px;
}

.OLD_custom_box_search .views-widget-per-page
{
  
  text-align: center;
} 
.OLD_custom_box_search .views-exposed-form .views-exposed-widget
{
  float: none;
}

.OLD_custom_box_search .views-submit-button
{
  text-align: center;

}


.OLD_custom_box_search .views-submit-button input
{ 
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  border-radius:0px;
  background-color:#637aad;
  border:1px solid #314179;
  display:inline-block;
  color:#ffffff;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  padding:10px 12px;
  text-decoration:none;
  text-shadow: none;
  font-size: 16px;
  margin-top: 0.6em !important;
  width: 215px;

}
/* BOX SEARCH*/
/*************************/


/************************************/
/******DETAIL PROPERTY CSS**********/
.custom_similar_properties .block-title{
  color: black;
}

.custom_similar_properties .views-field-property-photo img{
  width: 150px;
  height: 100px;
}

.custom_similar_properties .view-similar-properties .views-column{
  width: 10%;
}
.custom_similar_properties .custom-column-property .views-field-title{
  height: 75px;
  border-bottom: 1px solid #c1c1c1;
  color: #3d3d3d !important;
  font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 600;
}


/******DETAIL PROPERTY CSS**********/
/************************************/


/*****************/
/**BLOCK RIGHT**/
.custom_info_properties .views-field.views-field-field-location{
  display: block;
}

/******************************/
/* START pagination css   */
/******************************/

.item-list .pager {
  margin-right: 25px;
}
