/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/***************************/
    /*    BANNER MAIN  */
/***************************/

.custom_info_banner{
  text-align: right;
  vertical-align: top;
  margin: 0 auto;
}
.logo-img{
  width: 30%;
  text-align: center;
}


/* MENU */

.block-superfish ul.sf-main-menu{
  width:100%;
  margin:0 auto;
  text-align:center;
  color:'#305C8E';
}

/****************************/
/* grid home css information */
/****************************/
.custom-grid-information .view-display-id-block .views-view-grid td
{
    display:table-cell;
    width: 0%;
}
/****************************/
/* grid home css information */
/****************************/

/***************************/
